---
- name: Download with apt
  apt:
    update_cache: yes
    cache_valid_time: 21600 # 6 hours.
    pkg: "{{ packages }}"
    state: present
  become: true

- name: Install dotfiles
  remote_user: vagrant
  shell: |
    cd $HOME
    rm -f .bash*

    git clone https://github.com/btoll/dotfiles
    cd dotfiles
    #    bash install.sh
  become: true
  become_user: vagrant

